@import 'app/bower_components/sass-bootstrap/lib/bootstrap';

@media screen {
  .page-break { display: none; }
  #footer,#header { display: none; }
}

@media print {
  @page {
  }
  .page-break { 
    page-break-before: always;
  }
}

* {
  font-family: Helvetica, Arial, sans-serif;
}

@for $i from 1 through 4 {
  h#{$i} {
    counter-reset: headernum-h#{$i};
  }
  $nums: ();
  @for $j from 1 through $i {
    @if $nums != () {
      $nums: append($nums, ".");
    }
    $nums: append($nums, counter(headernum-h#{$j}));
  }
  h#{$i}:before {
      content: $nums " ";
      counter-increment: headernum-h#{$i};
  }
}
