//@import 'app/bower_components/sass-bootstrap/lib/bootstrap';

* {
  font-family: Helvetica, Arial, sans-serif;
}

@media screen {
  .page-break { display: none; }
  #footer,#header { display: none; }
  body {
    background-color: #C0C0C0;
    counter-reset: section; 
  }

  /*
  article {
    width: 210mm;
    background-color: white;
    margin: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #686868;
    box-shadow: 5px 5px 5px #888888;
    padding: 10mm 20mm;
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
  }
  */
  .page {
    width: 210mm;
    height: 297mm;
    background-color: white;
    margin: 5mm auto 5mm auto;
    border-style: solid;
    border-width: 1px;
    border-color: #686868;
    box-shadow: 5px 5px 5px #888888;
    padding: 10mm 20mm;
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
  }
}

@media print {
  @page {
    margin: 20mm 20mm;
    size: A4;
    @top-center {
      content: "Sample";
    }
  }

  .page-break {
    page-break-before: always;
  }

  h1,h2,h3,h4,h5,h6 {
    page-break-after: avoid;
  }

}
