//@import 'app/bower_components/sass-bootstrap/lib/bootstrap';

* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: #C0C0C0;
  counter-reset: section; 
}

.outer-page {
  margin: 5mm auto 5mm auto;
  padding: 20mm 20mm;
  width: 210mm;
  height: 297mm;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #686868;
  box-shadow: 5px 5px 5px #888888;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;

  position: relative;

  .header,.footer {
    position: absolute;
    color: grey;
  }

  .header {
    top: 5mm;
  }

  .footer {
    bottom: 5mm;
  }

  .page {
    width: 100%;
    height: 100%;

    & > :first-child {
      margin-top: 0px;
    }


  }

  .toc {
    a {
      color: black;
      text-decoration: none;
    }
    .tocpage {
      float: right;
    }
  }

}

@media print {
  @page {
    size: A4;
    margin: 0;
  }

  .outer-page {
    margin: 0;
    border: 0;
    box-shadow: none;
    page-break-after: always;
  }

  .outer-page:last-child {
    page-break-after: initial;
  }
}
